$primary: #49240F;
$secondary: #E4A79D;


$black: #1C1C1C;
$white: #FFFEFE;

$neutral-color-900: #293160;
$neutral-color-800: #44507E;
$neutral-color-700: #53628B;

$main-green-900: #08748C;
$main-green-800: #148CA5;
$main-green-700: #24A2B5;
$main-green-600: #37B5C1;
$main-green-500: #2BA4AA;