$black: #1C1C1C;
$white: #FFFEFE;

$neutral-color-900: #293160;
$neutral-color-800: #44507E;
$neutral-color-700: #53628B;
$neutral-color-600: #53628B;
$neutral-color-500: #647396;
$neutral-color-400: #7B88A6;
$neutral-color-300: #939DB6;
$neutral-color-200: #C1C7D5;
$neutral-color-100: #D8DCE5;

$main-green-900: #08748C;
$main-green-800: #148CA5;
$main-green-700: #24A2B5;
$main-green-600: #37B5C1;
$main-green-500: #2BA4AA;

$secondary-500: #3E4A68;
$secondary-400: #647396;
$secondary-300: #7B88A6;

//alert & warning
$sub-800: #982B2B;
$sub-700: #C53030;
$sub-600: #E53E3E;
$sub-500: #F56565;
$sub-400: #FEB2B2;
$sub-300: #F64545;

$logo-main: #9FC600;