@forward "colors";
@forward "font";
@use "colors" as c;

@font-face {
  font-family: "Roboto";
  src: url(Roboto-Regular.ttf) format("truetype");
}

html {
    font-family: "Roboto";
}

body {
  margin: 0;
  background-color: #f8f9fc;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  scrollbar-color: #d0d0d0 transparent;
  scrollbar-width: thin;
  word-break: break-word;
}

button {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.space-between {
  justify-content: space-between;
}

.main {
  padding-top: 72px;
  padding-bottom: 78px;
  width: 100%;
}
