@forward "colors";
@forward "font";
@use "colors" as c;

body {
    margin: 0;
    background-color: #F8F9FC;
}

button {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.main {
    padding-top: 72px;
    padding-bottom: 78px;
}